spring:
  application:
    name: ms-processamento
  threads:
    virtual:
      enabled: true
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
  # Redis comentado
  # redis:
  #   host: ${SPRING_REDIS_HOST:localhost}
  #   port: ${SPRING_REDIS_PORT:6379}
  #   password: ${SPRING_REDIS_PASSWORD:}
  datasource:
    url: jdbc:postgresql://localhost:5432/teste
    username: postgres
    password: "batata@"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081