spring:
  application:
    name: ms-ingestao
  threads:
    virtual:
      enabled: true
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}

sus:
  security:
    api-token: ${SUS_SECURITY_API_TOKEN:hackathon-secret}

management:
  endpoints:
    web:
      exposure:
        include: health,info
server:
  port: 8080
